/* -------------------------- */
/*      Custom Properties     */
/* -------------------------- */
:root {
  /* colors */
  --clr-dark-violet: 256 26% 20%;
  --clr-grayish-blue: 216 30% 68%;
  --clr-very-dark-violet: 270 9% 17%
  --clr-dark-grayish-violet: 273 4% 51%;
  --clr-gray: 252 4% 52%;
  --clr-dark-blue: 266 14% 20%;

  /* font sizes */
  --fs-900: clamp(5rem, 7vw + 1rem, 9.375rem);
  --fs-800: 3rem;
  --fs-700: 2.5rem;

  /* font-families */
  --ff-sans-serif: 'Karla', sans-serif;
  --ff-serif: 'DM Serif Display', serif;
}

/* -------------------------- */
/*           Reset            */
/* -------------------------- */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-serif);
  color: hsl(var(--clr-gray));
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------- */
/*           Colors           */
/* -------------------------- */
.text-white {
  color: white;
}

.text-dark {
  color: hsl(var(--clr-dark-blue));
}

/* -------------------------- */
/*         Typography         */
/* -------------------------- */
.text-center {
  text-align: center;
}

.ff-serif {
  font-family: var(--ff-serif);
}

.fs-800 {
  font-size: var(--fs-800);
  line-height: 1;
}

.text-bold {
  font-weight: bold;
}

/* -------------------------- */
/*      Utility Classes       */
/* -------------------------- */
.padding-4 {
  padding: 1rem;
}

.padding-top-6 {
  padding-top: 10rem;
}

.flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 1.25rem;
  z-index: 1;
}

.flex-columns {
  flex-direction: column;
}

.flex-center-columns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* -------------------------- */
/*         Components         */
/* -------------------------- */
.mobile-nav-toggle {
  background-color: transparent;
  border: none;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li > a {

}

.ultimate-container {
  background: rgb(45,38,64);
  background-color: hsl(var(--clr-dark-violet));
}

.secondary-button {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  padding: 5px 40px;
}

.secondary-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.intro-pattern-right {
  position: absolute;
  right: 0;
  top: 88%;
}

.main-container {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 2rem;
}

.container > * + *,
.main-container > * + * {
  margin-top: 2.5rem;
}

.subtitle {
  display: none;
  font-size: 24px;
}

.body-content {
  height: 70rem;
}

.how-we-work {
  background-color: hsl(var(--clr-dark-violet));
  aspect-ratio: 33 / 35 ;
  margin-bottom: 8rem;
  padding: 0 1rem;
  flex: 1;
}

.how-we-work-pattern {
  position: absolute;
  right: 5%;
}

.body-content > * + *,
.how-we-work > * + * {
  margin-top: 3rem;
}

.first-footer-container > * + * {
  margin-bottom: 3rem;
}

.social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-media-list > li,
.social-media-list > li > img {
  display: inline;
  padding: 0.05rem;
}

.footer-list-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
}

.footer-list {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: hsl(var(--clr-dark-blue));
  margin: 0;
  margin-top: 1.5rem;
  padding: 0;
}

.footer-list > * + * {
  margin-top: 0.75rem;
}

.footer-logo {
  margin-bottom: 2rem;
}

.hamburger-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}

@media screen and (min-width: 540px) {    
  .intro-image-container {
    position: relative;
    float: right;
    margin-right: 10rem;
    margin-top: 6rem;
  }

  .main-container {
    padding-top: 10rem;
    padding-left: 10rem;
    text-align: left;
  }

  .ultimate-container {
    height: 100vh;
    background: rgb(45,38,64);
    background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(45,38,64,1) 0%);
  }

  .intro-pattern-right {
    display: none;
  }

  .subtitle {
    display: block;
    margin-left: 10rem;
  }

  .body-content {
    flex-direction: row;
    height: 30rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .body-content > * + * {
    margin-top: 0;
  }

  .how-we-work {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    aspect-ratio: 33 / 7.5 ;
  }

  .how-we-work-container {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .footer-list-container {
    display: flex;
  }

  .footer-list-container > * {
    margin-right: 10rem;
  }

  footer {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 6rem;
  }

  .first-footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-list {
    text-align: left;
  }

  .footer-list-title {
    align-self: start;
    margin-top: 0;
  }

  .find-out {
    width: 39%;
  }

  .social-media-logo:hover {
    filter: brightness(0) saturate(100%);
  }

  .intro-pattern-right {
    top: 0;
  }

  .intro-pattern-left {
    position: absolute;
    top: 50%;
  }

  .how-we-work-pattern {
    right: 11%;
  }

  .hamburger-button {
    display: none;
    flex-direction: row;
  }
}